/*=========================== UNIVERSAL STYLING ==============================*/
body {
    color: #FFD700;
    font-family: Arial;
    text-align: center;
    background: linear-gradient(to bottom, #B2B2B2, #555555, #0D0D0D);
    background-size: cover;
    font-size: 1.5vw;
    height: 100%;
}   

section{
    min-height: max-content;
    border-bottom: 1px solid #FFAB00;
    padding: 2vw 0;
}

h1,h2,button{
    margin-bottom: 10px;
    color: #DA0D0F;
}

a {
    color: gold;
    text-decoration: none;
}

button {
    background-color: #0d0d0d00;
}

.btn {
    display: inline-block;
    transform-origin: center;
    text-decoration: none;
    margin: 0 2vw;
    padding: 1vw;
    border: solid gold 1px;
    border-radius: 50%;
    border-top: none;
    border-left: none;
    transition: all 0.5s ease;
    color: gold;
}

.btn:hover {
    transform: scale(1.5);
    background-color: #FFAB00;
    color: #a1080b;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.nav-con.active {
    display: block;
    border: solid gold 0.1rem;
    background-color: #292929;
    height: fit-content;
    margin: 1rem 0;
}

.nav-con {
    display: none;
}

.nav-con-objects {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

}

.nav-con-objects div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: gold solid 1px;
    min-width: 95%;
    margin: 1rem;
    scroll-snap-align: center;
}

/*=============================== HOME PAGE ==================================*/
.Hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    height: fit-content;
    border-bottom: 1px solid #FFAB00;
    background-image: url('/storage/emulated/0/Download/a8226118-9c51-4a04-b632-838cbd333914.png');
    background-size: contain;
    background-repeat: no-repeat;
}    

img {
    min-width: 100%;
    max-height: 50vh;
    object-fit: contain;
}

.Tools {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (5, 1fr);
    gap: 4px;
    padding: 20px;
}

.tools {
    background: linear-gradient(to bottom, #B2B2B2, #555555, #0D0D0D);
    padding: 20px;
    border-radius: 12px;
    line-height: 1.5rem;
    transition:all 1s ease-in ;
    text-align: left;
}

.tools:hover {
    transform: scale(1.2);
    color: #a1080b; 
    font-weight: 600;
    font-size: 2.3vh;
    border: gold solid 1px;
    animation: Effect 5s infinite ease out;
}

@keyframes Effect {
    from {padding-left: 0%; text-align: left; }
    to {padding-left: 25%; text-align: center;}
}

/*Ugliest section of my code! Ugh!*/
#h {
    grid-row: span 5 / span 5;
    display: flex;
    text-align: left;
    align-content: space-around;
    line-height: 500%;
    padding:0 0 0 0.5rem;
    }
    #a {grid-column: span 2 / span 2;grid-row: span 2 / span 2;grid-column-start: 3;grid-row-start: 1;}
    #r {grid-row: span 2 / span 2;grid-column-start: 2;grid-row-start: 1;}
    #sa {grid-row: span 3 / span 3;grid-column-start: 2;grid-row-start: 3;}
    #sr {grid-column: span 2 / span 2;grid-column-start: 3;grid-row-start: 3;}
    #g {grid-column: span 2 / span 2;grid-column-start: 3; grid-row-start: 4;}
    #p {grid-column: span 2 / span 2;grid-column-start: 3;grid-row-start: 5;}

.Phone {
    display: flex;
    flex-direction: column;
}

#Contacts {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.figure {
    flex-direction: column;
    flex: 1 1 100%;
}

.Footr {
   background-color: linear-gradient(to top, #7B7B7B, #292929);
   font-size: 1rem;
   margin-top: 10px;
}

/*============================= QUIRKS.HTML ==================================*/

ol {
    line-height: 3;
    list-style-type: none;
    text-align: left;  
}
 #skills {
    /*display: flex;*/
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
}

/*=============================== DIARY.HTML =================================*/
#Diary-body {
    display: flex;
    flex-direction: row;
    overflow-y:hidden;
    min-height:80%;
}

#Diary-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
}

#Diary-nav button {
    margin: 3px;
    display: block;
    width: 100%;
    
}

.thoughts{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x:hidden;
    max-height: 500px;
    border-bottom: solid red 1px;
    padding:0rem 1rem;
    box-sizing: border-box;
}

.thoughtcontent {
    min-width: 100%;
    margin-left:1rem;
}



