body{
    background: rgb(5, 5, 62);
    color: goldenrod;
    padding-left: 20%;
}

main{
    text-align:center;
    align-items: center;
    max-width: 75%
}

#player-moves button {
     border: dotted 0.3rem blue;
     border-radius: 100%;
     min-width: 25%;
     height: 35vh;
     font-size: 2rem;
     background: rgba(255, 0, 0, 0);
     transition: all ease-in-out 0.3s;
 }

 #outcome {
    min-height: 50px;
    border: solid red 1px;
    text-align: center;
    align-items: center;
 }

 #player-moves button:hover {
     transform: scale(1.1);
     background: rgba(255, 255, 255, 0.903);
     font-size: 2.5rem;
 }

 .moves {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;
     font-size: 7rem;
     text-align: center;
 }

 .moves div {
    border: solid grey  0.1rem;
    border-top: none;
    border-bottom:none;
    min-height: 100px;
}

@media (max-width: 768px){
main {
    max-width: 100%;
    background:red;
 }
}

