body {
    font-family: Arial, Helvetica, sans-serif;
}

.todo-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px ;
    gap:10px;
    margin:10px;
    font-size: 15px;
    align-items: center;

}

input {
    padding: 6px;
}

.js-add {
    background-color: green;
    color:white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.del-button{
    background: darkred;
    color:white;
    border:none;
    font-size: 15px;
    cursor: pointer;
    padding: 10px
}